HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Environment specific files
.env

# Docker related files
docker-compose.yml
Dockerfile

### Static generated resources ###
backend/src/main/resources/static/

# Wrapper scripts for Maven
mvnw
mvnw.cmd

# Compiled classes
*.class

# Checkstyle configuration files
checkstyle.xml
checkstyle-suppressions.xml

# Log files
*.log