# .gitignore

# Maven build files
target/
!.mvn/wrapper/maven-wrapper.jar

# Docker related files
docker-compose.yml
Dockerfile

# IDE and editor files
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Compiled classes
*.class

# Log files
*.log

# Environment specific files
.env

# Checkstyle configuration files
checkstyle.xml
checkstyle-suppressions.xml

# Wrapper scripts for Maven
mvnw
mvnw.cmd
